To run this file error free run the first code cell so that it imports all the libraries.

In [11]:
import sys
import random
import math
import threading
import time
from functools import reduce

print("Hello World")

Hello World

In [ ]:
name=input("what is your name")
print("Hi", name)

what is your namepraful
Hi praful

if you want to extend the statements to the next line you can you use () or \

In [ ]:
x=1+2+3+4+\
5+6+7+8
print(x)

36

you can also put multiple statements in one line using ;, however, not recommended in python.

In [ ]:
x=1+2; x2=3+4; print(x+x2)

10

variables and multiline and single line comment. A is assigned the value 10
The 1st character must be _ or a letter
Then you can use letters, numbers or _
Variable names are type sensitive
No need of defining the datatype, it's doen implicitlty.

In [ ]:
"""This is a
multiline comment"""
'''This is also a
multiline comment'''
#This is a single line comment
A=10
print(A)
V1=v2=v3=21
print(V1,v2,v3)
v1=23
print(v1)
v1="ashish"
print(v1)

10
21 21 21
23
ashish

Let's now get the type of the data and the size of the different data types

In [ ]:
print(type(10))
print(type(10.0))
print(type("ashish"))
print(type(10+2j))
print(type(True))
print(sys.maxsize)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>
9223372036854775807

Float have a max place of 15 on the right of the decimal after that they are inaccurate.

In [ ]:
print(sys.float_info.max)
f1 = 1.1111111111111111
f2 = 1.1111111111111111
f3 = f1 + f2
print(f3)

1.7976931348623157e+308
2.2222222222222223

Complex numbers are [real part]+[imaginary part]

In [ ]:
cmplx_num=10+20j
print(cmplx_num)
print(cmplx_num.real)
print(cmplx_num.imag)
print(cmplx_num.conjugate())

(10+20j)
10.0
20.0
(10-20j)

Booleans are either True or False

In [ ]:
b1=True
b2=False
print(b1,b2)

True False

Strings are surrounded by ' or " and Triple quoted strings can contain ' and "

In [ ]:

str1 = "Escape Sequences \' \t \" \\ and \nPraful John"
print(str1)
str2 = '''Triple quoted strings can contain ' and "'''''
print(str2)

Escape Sequences ' 	 " \ and
Praful John
Triple quoted strings can contain ' and "

You can cast to different types with int, float, str, chr

In [ ]:
print("Cast 1", type(int(5.4)))  # to int
print("Cast 2 ", type(str(5.4)))  # to string
print("Cast 3 ", type(chr(97)))  # to string
print("Cast 4 ", type(ord('a')))  # to int

Cast 1 <class 'int'>
Cast 2  <class 'str'>
Cast 3  <class 'str'>
Cast 4  <class 'int'>

Using the Separator, sep

In [ ]:
print(9,24,2001, sep='/')
print("no newline", end='')  # no newline

9/24/2001
no newline

Let's perform the string formatting

In [ ]:
print("%24d %s %.2f %c" % (12, "Praful", 1.234, 'A'))

0012 Praful 1.23 A

Let's perform some math.

In [ ]:
print("1082+37912 =",1082+37912)
print("108221-37912 =",108221-37912)
print("1082*37912 =",1082*37912)
print("1082/37912 =",1082/37912)
print("1082**3 =",1082**3)
print("1082%37912 =",1082%37912)
print("421082//37912 =",421082//37912)
a=10
a+=10
print(a)
a-=10
print(a)
a*=10
print(a)
a/=10
print(a)
a%=10
print(a)
a//=10
print(a)
a**=10
print(a)

1082+37912 = 38994
108221-37912 = 70309
1082*37912 = 41020784
1082/37912 = 0.028539776324119012
1082**3 = 1266723368
1082%37912 = 1082
421082//37912 = 11
20
10
100
10.0
0.0
0.0
0.0

Math functions.

In [ ]:
#math functions
print(math.ceil(1.2))
print(math.floor(1.2))
print(math.fabs(-1.2))
print(math.factorial(5))
print(math.fmod(10,3))
print(math.fsum([1,2,3,4,5]))
print("abs(-1) ", abs(-1))
print("max(5, 4) ", max(5, 4))
print("min(5, 4) ", min(5, 4))
print("pow(2, 2) ", pow(2, 2))
print("ceil(4.5) ", math.ceil(4.5))
print("floor(4.5) ", math.floor(4.5))
print("round(4.5) ", round(4.5))
print("exp(1) ", math.exp(1))  # e**x
print("log(e) ", math.log(math.exp(1)))
print("log(100) ", math.log(100, 10))  # Base 10 Log
print("sqrt(100) ", math.sqrt(100))
print("sin(0) ", math.sin(0))
print("cos(0) ", math.cos(0))
print("tan(0) ", math.tan(0))
print("asin(0) ", math.asin(0))
print("acos(0) ", math.acos(0))
print("atan(0) ", math.atan(0))
print("sinh(0) ", math.sinh(0))
print("cosh(0) ", math.cosh(0))
print("tanh(0) ", math.tanh(0))
print("asinh(0) ", math.asinh(0))
print("acosh(pi) ", math.acosh(math.pi))
print("atanh(0) ", math.atanh(0))
print("hypot(0) ", math.hypot(10, 10))  # sqrt(x*x + y*y)
print("radians(0) ", math.radians(0))
print("degrees(pi) ", math.degrees(math.pi))

2
1
1.2
120
1.0
15.0
abs(-1)  1
max(5, 4)  5
min(5, 4)  4
pow(2, 2)  4
ceil(4.5)  5
floor(4.5)  4
round(4.5)  4
exp(1)  2.718281828459045
log(e)  1.0
log(100)  2.0
sqrt(100)  10.0
sin(0)  0.0
cos(0)  1.0
tan(0)  0.0
asin(0)  0.0
acos(0)  1.5707963267948966
atan(0)  0.0
sinh(0)  0.0
cosh(0)  1.0
tanh(0)  0.0
asinh(0)  0.0
acosh(pi)  1.811526272460853
atanh(0)  0.0
hypot(0)  14.142135623730951
radians(0)  0.0
degrees(pi)  180.0

using random and inf

In [ ]:
print("random number",random.random())
print("random number between 1 to 10:",random.randint(1, 10))
print("random number",random.randrange(1, 12, 2))
print(math.inf>0)
print(-math.inf<0)
print(math.inf==0)
print(math.inf==math.inf)
print(math.inf)

random number 0.8715386617583741
random number between 1 to 10: 10
random number 5
True
True
False
True
inf
21

A program to check if a person can drive or not using if

In [ ]:
age = int(input("Enter your age: "))
if age>=21:
  print("You are eligible to drive a trailor truck")
elif age>=18:
  print("You are eligible to drive a car")
elif age>=13:
  print("You are eligible to drive a bike")
else:
  print("You are not eligible to drive")

Enter your age: 12
You are not eligible to drive

In [ ]:
age = int(input("Enter your age: "))
if age < 5:
    print("Stay Home")
elif (age >= 5) and (age <= 6):
    print("Kindergarten")
elif (age > 6) and (age <= 17):
      print("Grade", (age - 5))
else:
    print("Can't tell")
# Ternary operator in Python
# condition_true if condition else condition_false
canVote = True if age >= 18 else False
print("You can vote? "canVote)

Enter your age: 45
Can't tell False

STRINGS
Raw strings ignore escape sequences
len(string_name) function is used to get the length of the string
[-1] to access the last character

In [ ]:
print(r"I'll be ignored \n")

# Combine strings with +
print("Hello " + "You")

# Get string length
str3 = "Hello You"
print("Length ", len(str3))

# Character at index
print("1st ", str3[0])

# Last character
print("Last ", str3[-1])

# 1st 3 chrs
print("1st 3 ", str3[0:4])  # Start, up to not including the that index(4th here)

#to replace
print("replace ", str3.replace("You", "World"))
print(str3)
#to slice
print("slice ", str3[1:5])
#in
print("You in ", "You" in str3)
#not in
print("YOu not in ", "YOu" not in str3)
#changing Y to y
print("changing ", str3.replace("Y", "y"))
#other method to do so
print(str3)
print("other method ", str3[:6] + "y" + str3[7:])
#find
print("find ", str3.find("You"))
#strip
print("strip   ".strip(), str3.strip())
#lstrip
print("lstrip ".lstrip(), str3.lstrip())
#rstrip
print("      rstrip ".rstrip(), str3.rstrip())
#join and slipt to make lists of strings
print("".join(["Hello","You"])) #joining two different strings to form a list
print("Hello You".split()) #splitting one string

I'll be ignored \n
Hello You
Length  9
1st  H
Last  u
1st 3  Hell
replace  Hello World
Hello You
slice  ello
You in  True
YOu not in  True
changing  Hello you
Hello You
other method  Hello you
find  6
strip Hello You
lstrip  Hello You
      rstrip Hello You
HelloYou
['Hello', 'You']
upper  HELLO YOU
lower  hello you
1020
5+5=10
False
False
False

String continued

In [ ]:
#upper and lower
print("upper ", str3.upper())
print("lower ", str3.lower())
#adding two int as strings
print(str(10) + str(20))
int1=int2=5
print(f'{int1}+{int2}={int1+int2}')# SOMETHING TO LOOK AT
#check if a string is character or number
print("sabfbai1234".isalnum())#Checks if all characters in the string are alphanumeric, meaning they are either letters (a-z, A-Z) or digits (0-9).
print("hellofrom".isalpha())#true if the string is completely alphabet(s)
print("1121".isdigit())#true if the string is completely number(s)

upper  HELLO YOU
lower  hello you
1020
5+5=10
True
True
True

Lists(they contain #Mutable data)

In [ ]:
List1 = [1, 2, 3, "John", False]
print(List1)
#getting the length of the list
print("Length ", len(List1)) # the time complexity of the len() is O(1)
#adding to the list
List1.append(1221)
print(List1)
#fetching the value from the index
print(List1[3]); print(List1[-1])#get you the last value in that list
#changing the value of thelist
List1[3] = "Doe"
print(List1)
#changing multiple values of the list
List1[1:3] = [4, 5] #not includes the last index mentioned( here it is the 3rd index)
print(List1)
#so Cool, inserting at the index without deleting(as many elements i want!!)
List1[3:3] = ["John"]
print(List1)
List1.insert(1,2) #other way to insert the element in a list, TC for both of the process is O(n)
print(List1)

[1, 2, 3, 'John', False]
Length  5
[1, 2, 3, 'John', False, 1221]
John
1221
[1, 2, 3, 'Doe', False, 1221]
[1, 4, 5, 'Doe', False, 1221]
[1, 4, 5, 'John', 'Doe', False, 1221]
[1, 2, 4, 5, 'John', 'Doe', False, 1221]

removing and popping from the list

In [ ]:
#removing from the list
List1.remove(2)
print(List1)
List1.pop() #pops the last element of the list.
print(List1)

[1, 4, 5, 'John', 'Doe']
[1, 4, 5, 'John']
[1, 4, 5, 'John', 1, 3, 1, 3, 1]

Now here we will perform some operations on list

In [ ]:
List1 = [1, 2, 3, "John", False]
List2= List1.copy()+[1,3,1,3,1]
print(List2)
l3 = [[1, 2], [3, 4]]
print("[1, 1]", l3[1][1])

# Does value exist
print("1 Exists", (1 in List1))

# Min & Max
print("Min ", min([1, 2, 3]))
print("Max ", max([1, 2, 3]))

# Slice out parts
print("1st 2", List1[0:2])
print("Every Other ", List1[0:-1:2])
print("List2 ",List2)
print("Reverse ", List2[::-1]) #reversal with slicing
List2.reverse()       #in place reversal
print("Reverse",List2)

[1, 2, 3, 'John', False, 1, 3, 1, 3, 1]
[1, 1] 4
1 Exists True
Min  1
Max  3
1st 2 [1, 2]
Every Other  [1, 3]
List2  [1, 2, 3, 'John', False, 1, 3, 1, 3, 1]
Reverse  [1, 3, 1, 3, 1, False, 'John', 3, 2, 1]
Reverse [1, 3, 1, 3, 1, False, 'John', 3, 2, 1]

Loops for and  while

In [ ]:
#while loop
i = 0
while i < 5:
    print(i)
    i+=1
print(i)
#for loop
for i in range(5):
    print(i)

0
1
2
3
4
5
0
1
2
3
4
0
2
4
6
8
10
12
14
16
18

In [ ]:
#printing even values
for i in range(0, 20, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [ ]:
l4 = [1, 3.14, "Praful", True]
while len(l4):
    print(l4.pop(0))
print(l4)

1
3.14
Praful
True
[]

traversing thru the list using for loop

In [ ]:
l4 = [1, 3.14, "Praful", True]
for x in l4:
    print(x)

# You can also define a list of numbers to
# cycle through
for x in [2, 4, 6]:
    print(x)

1
3.14
Praful
True
2
4
6

iterators(iter)<---- it is a builtin function

In [ ]:
l5 = [1, 3.14, "Praful", True]
iterator = iter(l5)
print(next(iterator))
print(next(iterator))
print(next(iterator))
print(next(iterator))

1
3.14
Praful
True

ranges and 2d list

In [ ]:
print(list(range(0,5)))
num_list = [[1, 2, 3], [4, 5, 6]]
print(num_list[1][2]) #print the num_list(2,1)
#loop to print the 2d list
for x in range(len(num_list)):
    for y in range(len(num_list[x])):
        print(num_list[x][y])

[0, 1, 2, 3, 4]
6
1
2
3
4
5
6

tuples(immutable):- uses parathesis for declaration.

In [ ]:
t1=(1,3.14,"Praful",True)
print(t1)
print(t1[1])
print(len(t1))
print("First ",t1[0])
print("Last ",t1[-1])
print("Slice ",t1[1:3])
print("Reverse ",t1[::-1])
print("every other",t1[1:len(t1):2])
for x in t1:
    print(x)

(1, 3.14, 'Praful', True)
3.14
4
First  1
Last  True
Slice  (3.14, 'Praful')
Reverse  (True, 'Praful', 3.14, 1)
every other (3.14, True)
1
3.14
Praful
True

Dictionaries

In [ ]:
heroes = {
    "Superman": "Clark Kent",
    "Batman": "Bruce Wayne"
}

villains = dict([
    ("Lex Luthor", "Lex Luthor"),
    ("Loki", "Loki")
])
print("Length", len(heroes))
#getting a value from key
print(heroes['Superman'])
heroes["The Flash"] = "Barry Allen"
print(heroes)
#deleting a key
del heroes["The Flash"]
print(heroes)
print(list(heroes.keys()))    #gets keys
print(list(heroes.values()))    #gets keys
print(list(heroes.items()))       #gets the dictionary
#deleting using pop
heroes.pop("Batman")
print(heroes)
#searching (in)
print("Superman in heroes", "Superman" in heroes)
#looping in the dictionary
for key in heroes:
  print(key)
for value in heroes.values():
  print(value)
for key,values in heroes.items():
  print(key,values)
for key,values in villains.items():
  print(key,values)
# Formatted print with dictionary mapping
d1 = {"name": "Bread", "price": .88}
print("%(name)s costs $%(price).2f" % d1)

Length 2
Clark Kent
{'Superman': 'Clark Kent', 'Batman': 'Bruce Wayne', 'The Flash': 'Barry Allen'}
{'Superman': 'Clark Kent', 'Batman': 'Bruce Wayne'}
['Superman', 'Batman']
['Clark Kent', 'Bruce Wayne']
[('Superman', 'Clark Kent'), ('Batman', 'Bruce Wayne')]
{'Superman': 'Clark Kent'}
Superman in heroes True
Superman
Clark Kent
Superman Clark Kent
Lex Luthor Lex Luthor
Loki Loki
Bread costs $0.88

Set

In [ ]:
# Sets are unordered, so the order you add items won't be reflected
# Sets cannot have duplicate items
s1 = set(["Praful", 1, 2, 2, 3, "John"])
print("Length ", len(s1))
print(s1)
# Adding to a set
s1.add(4)
s1.add(True)
s1.add(False)
print(s1)
print("Length ", len(s1))
# Removing from a set
s1.remove(4)
s1.discard(False)
print(s1)
s1.add("123")
s1.pop()
print(s1)
# Check if item in set
print("Is John in s1 ", "John" in s1)
# Iterate through set
for item in s1:
    print(item)
# Common set operations
s2 = {1, 2, 3}
s3 = {3, 4, 5}
print("Intersection ", s2.intersection(s3))
print("Union ", s2.union(s3))
print("Difference ", s2.difference(s3))
print("Sym Diff ", s2.symmetric_difference(s3))
# Clearing a set
s1.clear()
print(s1)

Length  5
{1, 2, 3, 'John', 'Praful'}
{False, 1, 2, 3, 4, 'John', 'Praful'}
Length  7
{1, 2, 3, 'John', 'Praful'}
{2, 3, '123', 'John', 'Praful'}
Is John in s1  True
2
3
123
John
Praful
Intersection  {3}
Union  {1, 2, 3, 4, 5}
Difference  {1, 2}
Sym Diff  {1, 2, 4, 5}
set()

Functions.

In [ ]:
from posixpath import join
def get_sum(num1: int=25, num2:int=2):
  return num1+num2
print(get_sum(2,3))
print(get_sum(2))
print(get_sum())
#a function with multiple arguments
def get_sum2(*args):
  sum=0
  for i in args:
    sum+=i
  return sum

print(get_sum2(1,2,3,4,5,6,7,8,9,10))
def next_num(i):
  return i+1,i+2
i,j=next_num(5)
print(i,j)

5
4
27
55
6 7

#Anonymous functions
Anonymous functions in Python, commonly known as **lambda functions**, are small, single-expression functions that are defined without a name. These functions are particularly useful in situations where a simple operation needs to be performed temporarily, and defining a full function using `def` would be overkill.

### Key Features of Anonymous Functions (Lambda Functions):
1. **Single Expression**: Lambda functions can only contain a single expression. This makes them limited in complexity but perfect for simple operations.
   
2. **No Name**: Unlike normal functions defined with `def`, lambda functions are anonymous, meaning they donâ€™t have a name. They are typically used in places where a function is required temporarily, like within another function call.

3. **Syntax**:
   ```python
   lambda arguments: expression
   ```
   - `arguments`: A comma-separated list of parameters.
   - `expression`: An expression that is evaluated and returned.

4. **Usage**:
   - Lambda functions are often used with higher-order functions like `map()`, `filter()`, and `sorted()`, where a small, quick operation is needed.
   - They can be used wherever function objects are required.

### Examples:

#### Basic Lambda Function:
```python
# A lambda function that adds 10 to a number
add_ten = lambda x: x + 10

# Using the lambda function
print(add_ten(5))  # Output: 15
```

#### Using Lambda with `map()`:
```python
# Using map() to double each number in a list
numbers = [1, 2, 3, 4]
doubled = map(lambda x: x * 2, numbers)

print(list(doubled))  # Output: [2, 4, 6, 8]
```

#### Using Lambda with `filter()`:
```python
# Using filter() to filter out even numbers from a list
numbers = [1, 2, 3, 4, 5, 6]
evens = filter(lambda x: x % 2 == 0, numbers)

print(list(evens))  # Output: [2, 4, 6]
```

#### Using Lambda with `sorted()`:
```python
# Sorting a list of tuples by the second element
tuples = [(1, 2), (3, 1), (5, 3)]
sorted_tuples = sorted(tuples, key=lambda x: x[1])

print(sorted_tuples)  # Output: [(3, 1), (1, 2), (5, 3)]
```

### Limitations:
- **Simplicity**: Since lambda functions are restricted to a single expression, they are not suitable for complex operations.
- **Readability**: Overusing lambda functions can lead to less readable code, especially when the lambda expressions become complicated.
- **Debugging**: Lambda functions can be harder to debug than named functions since they don't have a name or a proper stack trace.

### When to Use Lambda Functions:
- **Small, one-off operations**: When you need a quick function for a short task, especially within other functions like `map()` or `filter()`.
- **Inline functions**: When defining a function inline makes the code clearer and more concise.

### When Not to Use Lambda Functions:
- **Complex logic**: If your function needs multiple lines of code or complex logic, it's better to use a standard function with `def`.
- **Code readability**: If using a lambda function makes the code harder to understand, it's better to define a regular function.

### Conclusion:
Lambda functions are a powerful feature in Python that allow you to write quick, anonymous functions for simple tasks. They are most useful for situations where a simple, one-time function is needed, helping you write more concise and functional code. However, they should be used judiciously to avoid compromising code readability and maintainability.

In [ ]:
def mult_by(num):
    return lambda x: x * num
print("3 * 5 =", (mult_by(3)(5)))

# Using lambda with map to square each number in a list
numbers = [1, 2, 3, 4]
print(numbers)
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)  # Output: [1, 4, 9, 16]

3 * 5 = 15
[1, 2, 3, 4]
[1, 4, 9, 16]

In [ ]:
def mult_list(list, func):
    for x in list:
        print(func(x))
mult_by_4 = mult_by(2)
mult_list(list(range(0, 5)), mult_by_4)

0
2
4
6
8

#Maps
The `map()` function in Python is a built-in function that applies a specified function to each item of an iterable (such as a list, tuple, etc.) and returns a map object (which is an iterator) containing the results.

### Syntax:
```python
map(function, iterable, ...)
```

### Parameters:
- **`function`**: A function that is applied to each item of the iterable.
- **`iterable`**: One or more iterable objects (like lists, tuples, etc.).

### How `map()` Works:
- The `map()` function applies the given `function` to each item of the `iterable`.
- If more than one iterable is passed, the `function` should take that many arguments, and it applies the function to the items of the iterables in parallel.

### Example with One Iterable:

```python
# Function to double a number
def double(x):
    return x * 2

# List of numbers
numbers = [1, 2, 3, 4, 5]

# Applying the map function
doubled_numbers = map(double, numbers)

# Converting the map object to a list
doubled_list = list(doubled_numbers)

print(doubled_list)  # Output: [2, 4, 6, 8, 10]
```

### Example with Lambda Function:
You can use a lambda function instead of defining a separate function:

```python
numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x * 2, numbers))
print(doubled_numbers)  # Output: [2, 4, 6, 8, 10]
```

### Example with Multiple Iterables:

```python
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

# Function to add two numbers
def add(x, y):
    return x + y

# Applying the map function with two iterables
sum_numbers = list(map(add, numbers1, numbers2))

print(sum_numbers)  # Output: [5, 7, 9]
```

### Important Points:
- The `map()` function returns a map object, which is an iterator. To see the results, you often need to convert it to a list or another iterable.
- If you pass multiple iterables, `map()` stops when the shortest iterable is exhausted.

### Use Cases:
- **Transformation of data**: Easily apply a transformation to all elements of an iterable.
- **Parallel computation**: Apply a function across multiple iterables simultaneously.

In summary, `map()` is a powerful tool in Python that allows you to apply a function to each item in an iterable, making it easier to perform bulk operations without the need for explicit loops.

In [ ]:
one_to_4 = range(1, 5)
print(list(one_to_4))
times2=lambda x:x*2
print(list(map(times2,one_to_4)))

[1, 2, 3, 4]
[2, 4, 6, 8]

#Using Fliter
#How filter() is different from map()?
`filter()` and `map()` are both built-in functions in Python that work with iterables (like lists, tuples, etc.), but they serve different purposes:

### `map()`:
- **Purpose**: The `map()` function is used to apply a given function to each item of an iterable and return a map object (which is an iterator) containing the results.
- **Transformation**: It transforms each element in the iterable based on the function provided.
- **Number of Output Elements**: The number of elements in the output will be the same as the number of elements in the input iterable(s).
- **Function Signature**:
  ```python
  map(function, iterable, ...)
  ```
- **Example**:
  ```python
  numbers = [1, 2, 3, 4]
  squared = map(lambda x: x**2, numbers)
  print(list(squared))  # Output: [1, 4, 9, 16]
  ```
  - In this example, `map()` applies the lambda function `x**2` to each element in `numbers`, resulting in a list of squared numbers.

### `filter()`:
- **Purpose**: The `filter()` function is used to filter elements from an iterable based on whether they satisfy a given condition (i.e., the function returns `True` for that element).
- **Selection**: It selects elements that meet a certain criterion.
- **Number of Output Elements**: The number of elements in the output depends on how many elements satisfy the condition. Only elements for which the function returns `True` are included.
- **Function Signature**:
  ```python
  filter(function, iterable)
  ```
- **Example**:
  ```python
  numbers = [1, 2, 3, 4, 5, 6]
  evens = filter(lambda x: x % 2 == 0, numbers)
  print(list(evens))  # Output: [2, 4, 6]
  ```
  - In this example, `filter()` applies the lambda function `x % 2 == 0` to each element in `numbers`, returning only the even numbers.

### Key Differences:
1. **Functionality**:
   - **`map()`** transforms each element in the iterable based on the function provided.
   - **`filter()`** filters the elements based on a condition and returns only those that satisfy the condition.

2. **Return Type**:
   - Both return an iterator, but their purposes differ: `map()` returns the transformed items, while `filter()` returns a subset of the original items based on a condition.

3. **Number of Output Elements**:
   - **`map()`** returns the same number of elements as the input iterable(s).
   - **`filter()`** may return fewer elements depending on how many elements satisfy the condition.

4. **Typical Use Case**:
   - Use **`map()`** when you want to apply a function to every item in an iterable.
   - Use **`filter()`** when you want to extract items from an iterable that meet a specific condition.

### Combining `map()` and `filter()`:
Sometimes, you might want to first filter the elements and then apply a transformation, or vice versa. In such cases, you can combine both `filter()` and `map()`:

```python
numbers = [1, 2, 3, 4, 5, 6]
# Filter even numbers and then square them
result = map(lambda x: x**2, filter(lambda x: x % 2 == 0, numbers))
print(list(result))  # Output: [4, 16, 36]
```

In this example, `filter()` first extracts the even numbers, and then `map()` squares those numbers.

In [ ]:
print(list(filter(lambda x:x%2==0,range(0,21))))
print(list(map(lambda x:x%2==0,range(0,21)))) # returns true and false based on the condition in the lambda

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True]

#Reduce()
In Python, both `reduce()` and `filter()` are functional programming tools used for processing iterables like lists, but they serve different purposes:

### 1. `reduce()`
- **Purpose**: It is used to apply a binary function (a function that takes two arguments) cumulatively to the items of an iterable, reducing the iterable to a single value.
- **How it works**: It processes the elements one at a time and applies the function cumulatively to combine them into a single result.
- **Where it's found**: It is available in the `functools` module.

**Example**:
```python
from functools import reduce

# Reduce to calculate the product of all elements in a list
numbers = [1, 2, 3, 4]
result = reduce(lambda x, y: x * y, numbers)
print(result)  # Output: 24
```

### 2. `filter()`
- **Purpose**: It is used to filter elements of an iterable based on a boolean function (a function that returns `True` or `False`).
- **How it works**: It returns only the elements for which the function evaluates to `True`, preserving the original structure (e.g., a list or a tuple).
- **Where it's found**: It's a built-in Python function.

**Example**:
```python
# Filter to get only even numbers from a list
numbers = [1, 2, 3, 4, 5, 6]
result = filter(lambda x: x % 2 == 0, numbers)
print(list(result))  # Output: [2, 4, 6]
```

### Summary:
- `reduce()`: Combines all elements of an iterable into a single value based on a binary function.
- `filter()`: Selects and returns elements that meet a condition based on a boolean function.

In [ ]:
#reduce
from functools import reduce
print(reduce(lambda x,y:x+y,range(0,21)))
print(list(filter(lambda x:x%2==0,range(0,21))))

210
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#Exception Handling
Exception handling in Python allows you to manage and respond to runtime errors (exceptions) in a controlled manner, ensuring that your program doesnâ€™t crash unexpectedly. It is achieved using `try`, `except`, `else`, `finally` blocks.

### Key components:

1. **`try` block**: Contains code that might raise an exception. If an exception occurs, it stops executing, and the control moves to the `except` block.
   
2. **`except` block**: Handles the exception if it occurs. You can specify the type of exception you want to catch (e.g., `ValueError`, `TypeError`) or catch all exceptions using a generic `except`.
   
3. **`else` block**: (Optional) Executes if no exception occurs in the `try` block.
   
4. **`finally` block**: (Optional) Executes regardless of whether an exception occurred or not, often used for cleanup actions like closing files or releasing resources.

### Example:
```python
try:
    x = 10 / 0  # This will raise a ZeroDivisionError
except ZeroDivisionError:
    print("Cannot divide by zero!")
else:
    print("No exceptions occurred.")
finally:
    print("This runs no matter what.")
```

### Output:
```
Cannot divide by zero!
This runs no matter what.
```

### Common exception types:
- `ValueError`: Raised when a function receives an argument of the right type but inappropriate value.
- `TypeError`: Raised when an operation or function is applied to an object of inappropriate type.
- `KeyError`: Raised when trying to access a dictionary with a non-existent key.
- `IndexError`: Raised when trying to access an invalid index in a list or sequence.

In [8]:
#we are going to create an infinite loop and use try except block to handle it
while True:
  try:
    int(input("please enter a number:"))
    break
  except ValueError:
    print("You didn't enter a number!")
  except:
    print("something went wrong")
print("Thank You")

please enter a number:praful
You didn't enter a number!
please enter a number:21
Thank You

In Python, the `with` statement is used to handle files in a clean and efficient way. It ensures that the file is properly closed after its suite finishes, even if an exception is raised. This eliminates the need to manually close the file using `file.close()`.

### Syntax:
```python
with open(<filename>, <mode>) as <file_object>:
    <operations>
```

- **`open()`**: Opens the file.
- **`mode`**: Specifies the mode in which the file should be opened (`'r'` for reading, `'w'` for writing, `'a'` for appending, etc.).
- **`file_object`**: A variable that represents the file object inside the `with` block.

Once the block is exited, the file is automatically closed, even if an error occurs within the block.

### Example 1: Reading from a file
```python
with open('example.txt', 'r') as file:
    content = file.read()  # Read the entire content of the file
    print(content)
```

### Example 2: Writing to a file
```python
with open('example.txt', 'w') as file:
    file.write('This is a new line.')  # Write to the file
```

### Example 3: Appending to a file
```python
with open('example.txt', 'a') as file:
    file.write('\nThis is an additional line.')  # Append to the file
```

### Benefits of using `with`:
1. **Automatic resource management**: The file is automatically closed when the block is exited, ensuring no resources are leaked.
2. **Error handling**: Even if an exception occurs, the file is properly closed.
3. **Cleaner code**: Avoids the need to explicitly call `file.close()`.

In [9]:
with open("mydata.txt", mode="w", encoding="utf-8") as myFile:
    # You can write to the file with write
    # It doesn't add a newline
    myFile.write("Some random text\nMore random text\nAnd some more")

# Open a file for reading
with open("mydata.txt", encoding="utf-8") as myFile:
    # Use read() to get everything at once
    print(myFile.read())

# Find out if the file is closed
print(myFile.closed)

Some random text
More random text
And some more
True

In Python, **classes** are blueprints for creating objects, which are instances of those classes. Classes define the properties (attributes) and behaviors (methods) that their objects will have. Objects are concrete instances of a class, allowing you to encapsulate data and functionality together.

### Key Components of Classes and Objects:
1. **Class**: A template that defines attributes (variables) and methods (functions) that the object created from the class will have.
2. **Object**: An instance of a class. Each object can have unique values for the attributes defined by its class.
3. **Methods**: Functions defined within a class that describe the behaviors of the objects created from the class.
4. **Attributes**: Variables that store information about an object.

### Keywords used in classes:
- **`class`**: Used to define a new class.
- **`__init__`**: A special method (called a constructor) used to initialize the object's attributes when it's created. It is called automatically when a new object is instantiated.
- **`self`**: Refers to the current instance of the class. It must be the first parameter in methods defined in a class, allowing access to the object's attributes and other methods.
- **`__str__`**: A special method that returns a string representation of an object, useful when printing the object.

### Explanation to the code below:
- **`class Car`**: Defines a class named `Car`.
- **`__init__(self, brand, model, year)`**: The constructor method initializes the object's attributes (brand, model, and year) when a `Car` object is created.
- **`self`**: Refers to the instance of the class and allows you to assign values to object attributes.
- **`display_info(self)`**: A method that returns a string with the car's details.
- **`drive(self)`**: A method that simulates the car driving.

### Object Creation:
- **`my_car = Car("Toyota", "Corolla", 2022)`**: Creates an object `my_car` of the `Car` class with specified values for `brand`, `model`, and `year`.
  
### Calling Methods:
- **`my_car.display_info()`**: Calls the `display_info` method to display details about the car.
- **`my_car.drive()`**: Calls the `drive` method to simulate driving the car.

### Special Methods:
- **`__str__(self)`**: If implemented, can provide a human-readable string representation of the object. Example:

With `__str__`, printing `my_car` directly will display the car's details instead of the object memory address:


This approach simplifies class and object usage while maintaining readability and modularity.

In [12]:
class Car:
    # Constructor method to initialize object attributes
    def __init__(self, brand, model, year):
        self.brand = brand  # Attribute: car's brand
        self.model = model  # Attribute: car's model
        self.year = year    # Attribute: car's manufacturing year

    # Method to display car details
    def display_info(self):
        return f"{self.year} {self.brand} {self.model}"

    # Method to simulate driving
    def drive(self):
        return f"The {self.brand} {self.model} is now driving."
    def __str__(self):
        return f"{self.year} {self.brand} {self.model}"

# Create an object (instance) of the Car class
my_car = Car("Toyota", "Corolla", 2022)

# Access object's attributes and methods
print(my_car.display_info())  # Output: 2022 Toyota Corolla
print(my_car.drive())         # Output: The Toyota Corolla is now driving.

print(my_car)  # Output: 2022 Toyota Corolla

2022 Toyota Corolla
The Toyota Corolla is now driving.
2022 Toyota Corolla

In [13]:
class Square:
    # init is used to set values for each Square
    def __init__(self, height="0", width="0"):
        self.height = height
        self.width = width

    # This is the getter
    # self is used to refer to an object that
    # we don't possess a name for
    @property
    def height(self):
        print("Retrieving the height")

        # Put a __ before this private field
        return self.__height

    # This is the setter
    @height.setter
    def height(self, value):

        # We protect the height from receiving
        # a bad value
        if value.isdigit():

            # Put a __ before this private field
            self.__height = value
        else:
            print("Please only enter numbers for height")

    # This is the getter
    @property
    def width(self):
        print("Retrieving the width")
        return self.__width

    # This is the setter
    @width.setter
    def width(self, value):
        if value.isdigit():
            self.__width = value
        else:
            print("Please only enter numbers for width")

    def get_area(self):
        return int(self.__width) * int(self.__height)

# Create a Square object
square = Square()
square.height = "10"
square.width = "10"
print("Area", square.get_area())

Area 100

# INHERITANCE & POLYMORPHISM
**Polymorphism** in Python refers to the ability of different objects to be processed in the same way, even if they are of different types. It allows methods or functions to use objects of different classes interchangeably, as long as they share a common interface (e.g., methods with the same name). This is a key concept in object-oriented programming (OOP) that enhances flexibility and code reusability.

### Key Concepts of Polymorphism:
1. **Method Overriding (Run-Time Polymorphism)**: A subclass can provide its specific implementation of a method that is already defined in its superclass.
2. **Method Overloading (Not Native in Python)**: Python doesnâ€™t support method overloading by default, but it can be achieved using default or variable-length arguments.
3. **Polymorphism with Functions**: Functions can take any object and call methods without needing to know the objectâ€™s specific class, as long as the method exists.



### Polymorphism with Functions:

Polymorphism can also be applied to functions that work with different types of objects, as long as those objects have the expected attributes or methods. This is often referred to as "duck typing" in Python, where the object's type is not checked explicitly. Instead, if it behaves like the expected type (has the required method), it is treated as such.


    # Other Magic Methods
    # __eq__ : Equal
    # __ne__ : Not Equal
    # __lt__ : Less Than
    # __gt__ : Greater Than
    # __le__ : Less Than or Equal
    # __ge__ : Greater Than or Equal
    # __add__ : Addition
    # __sub__ : Subtraction
    # __mul__ : Multiplication
    # __div__ : Division
    # __mod__ : Modulus

In [4]:
# Parent class
class Animal:
    def sound(self):
        return "This animal makes a sound"

# Child classes
class Dog(Animal):
    def sound(self):
        return "Bark"

class Cat(Animal):
    def sound(self):
        return "Meow"

# Polymorphism with classes
def animal_sound(animal):
    print(animal.sound())

# Creating objects
dog = Dog()
cat = Cat()

# Passing different objects to the same function
animal_sound(dog)  # Output: Bark
animal_sound(cat)  # Output: Meow

Bark
Meow

In [5]:
class Bicycle:
    def ride(self):
        return "Riding a bicycle"

class Car:
    def ride(self):
        return "Driving a car"

# Polymorphism with function
def start_ride(vehicle):
    print(vehicle.ride())

# Creating objects
bike = Bicycle()
car = Car()

# Both objects can be passed to the function
start_ride(bike)  # Output: Riding a bicycle
start_ride(car)   # Output: Driving a car

Riding a bicycle
Driving a car

In [3]:
class Animal:
    def __init__(self, name="unknown", weight=0):
        self.__name = name
        self.__weight = weight

    @property
    def name(self, name):
        self.__name = name

    def make_noise(self):
        return "Grrrrr"

    # Used to cast to a string type
    def __str__(self):
        return "{} is an {} and says {}".format (self.__name, type(self).__name__, self.make_noise())


    def __gt__(self, animal2):
        if self.__weight > animal2.__weight:
            return True
        else:
            return False
# Dog inherits everything from Animal
class dog(Animal):
    def __init__(self, name="unknown", owner="unknown", weight=0):
        # Have the super class handle initializing
        Animal.__init__(self, name, weight)
        self.__owner = owner

    # Overwrite str
    def __str__(self):
        # How to call super class methods
        return super().__str__() + " and is owned by " + \
        self.__owner

animal = Animal("Spot", 100)
print(animal)

dog = dog("Bowser", "Bob", 150)
print(dog)

# Test the magic method
print(animal > dog)

Spot is an Animal and says Grrrrr
Bowser is an dog and says Grrrrr and is owned by Bob
False

In [12]:
def execute_thread(i):
    print("Thread {} sleeps at {}".format(i,time.strftime("%H:%M:%S", time.gmtime())))
    rand_sleep_time = random.randint(1, 5)
    time.sleep(rand_sleep_time)
    print("Thread {} stops sleeping at {}".format(i,time.strftime("%H:%M:%S", time.gmtime())))


for i in range(10):
    thread = threading.Thread(target=execute_thread, args=(i,))
    thread.start()
    print("Active Threads :", threading.activeCount())
    print("Thread Objects :", threading.enumerate())

Thread 0 sleeps at 06:07:20
Active Threads : 6
Thread Objects : [<_MainThread(MainThread, started 138430198505472)>, <Thread(Thread-2 (_thread_main), started daemon 138430034302528)>, <Heartbeat(Thread-3, started daemon 138430025909824)>, <ParentPollerUnix(Thread-1, started daemon 138429777851968)>, <Thread(_colab_inspector_thread, started daemon 138429505447488)>, <Thread(Thread-10 (execute_thread), started 138429513840192)>]
Thread 1 sleeps at 06:07:20Active Threads : 7
Thread Objects : [<_MainThread(MainThread, started 138430198505472)>, <Thread(Thread-2 (_thread_main), started daemon 138430034302528)>, <Heartbeat(Thread-3, started daemon 138430025909824)>, <ParentPollerUnix(Thread-1, started daemon 138429777851968)>, <Thread(_colab_inspector_thread, started daemon 138429505447488)>, <Thread(Thread-10 (execute_thread), started 138429513840192)>, <Thread(Thread-11 (execute_thread), started 138429763614272)>]

Thread 2 sleeps at 06:07:20Active Threads :
 8
Thread Objects : [<_MainThread(MainThread, started 138430198505472)>, <Thread(Thread-2 (_thread_main), started daemon 138430034302528)>, <Heartbeat(Thread-3, started daemon 138430025909824)>, <ParentPollerUnix(Thread-1, started daemon 138429777851968)>, <Thread(_colab_inspector_thread, started daemon 138429505447488)>, <Thread(Thread-10 (execute_thread), started 138429513840192)>, <Thread(Thread-11 (execute_thread), started 138429763614272)>, <Thread(Thread-12 (execute_thread), started 138429144757824)>]
Thread 3 sleeps at 06:07:20
Active Threads : 9
Thread Objects : [<_MainThread(MainThread, started 138430198505472)>, <Thread(Thread-2 (_thread_main), started daemon 138430034302528)>, <Heartbeat(Thread-3, started daemon 138430025909824)>, <ParentPollerUnix(Thread-1, started daemon 138429777851968)>, <Thread(_colab_inspector_thread, started daemon 138429505447488)>, <Thread(Thread-10 (execute_thread), started 138429513840192)>, <Thread(Thread-11 (execute_thread), started 138429763614272)>, <Thread(Thread-12 (execute_thread), started 138429144757824)>, <Thread(Thread-13 (execute_thread), started 138429136365120)>]
Thread 4 sleeps at 06:07:20
Active Threads : 10
Thread Objects : [<_MainThread(MainThread, started 138430198505472)>, <Thread(Thread-2 (_thread_main), started daemon 138430034302528)>, <Heartbeat(Thread-3, started daemon 138430025909824)>, <ParentPollerUnix(Thread-1, started daemon 138429777851968)>, <Thread(_colab_inspector_thread, started daemon 138429505447488)>, <Thread(Thread-10 (execute_thread), started 138429513840192)>, <Thread(Thread-11 (execute_thread), started 138429763614272)>, <Thread(Thread-12 (execute_thread), started 138429144757824)>, <Thread(Thread-13 (execute_thread), started 138429136365120)>, <Thread(Thread-14 (execute_thread), started 138429127972416)>]
Thread 5 sleeps at 06:07:20
Active Threads : 11
Thread Objects : [<_MainThread(MainThread, started 138430198505472)>, <Thread(Thread-2 (_thread_main), started daemon 138430034302528)>, <Heartbeat(Thread-3, started daemon 138430025909824)>, <ParentPollerUnix(Thread-1, started daemon 138429777851968)>, <Thread(_colab_inspector_thread, started daemon 138429505447488)>, <Thread(Thread-10 (execute_thread), started 138429513840192)>, <Thread(Thread-11 (execute_thread), started 138429763614272)>, <Thread(Thread-12 (execute_thread), started 138429144757824)>, <Thread(Thread-13 (execute_thread), started 138429136365120)>, <Thread(Thread-14 (execute_thread), started 138429127972416)>, <Thread(Thread-15 (execute_thread), started 138429119579712)>]
Thread 6 sleeps at 06:07:20Active Threads : 12
Thread Objects : [<_MainThread(MainThread, started 138430198505472)>, <Thread(Thread-2 (_thread_main), started daemon 138430034302528)>, <Heartbeat(Thread-3, started daemon 138430025909824)>, <ParentPollerUnix(Thread-1, started daemon 138429777851968)>, <Thread(_colab_inspector_thread, started daemon 138429505447488)>, <Thread(Thread-10 (execute_thread), started 138429513840192)>, <Thread(Thread-11 (execute_thread), started 138429763614272)>, <Thread(Thread-12 (execute_thread), started 138429144757824)>, <Thread(Thread-13 (execute_thread), started 138429136365120)>, <Thread(Thread-14 (execute_thread), started 138429127972416)>, <Thread(Thread-15 (execute_thread), started 138429119579712)>, <Thread(Thread-16 (execute_thread), started 138429111187008)>]

Thread 7 sleeps at 06:07:20
Active Threads : 13
Thread Objects : [<_MainThread(MainThread, started 138430198505472)>, <Thread(Thread-2 (_thread_main), started daemon 138430034302528)>, <Heartbeat(Thread-3, started daemon 138430025909824)>, <ParentPollerUnix(Thread-1, started daemon 138429777851968)>, <Thread(_colab_inspector_thread, started daemon 138429505447488)>, <Thread(Thread-10 (execute_thread), started 138429513840192)>, <Thread(Thread-11 (execute_thread), started 138429763614272)>, <Thread(Thread-12 (execute_thread), started 138429144757824)>, <Thread(Thread-13 (execute_thread), started 138429136365120)>, <Thread(Thread-14 (execute_thread), started 138429127972416)>, <Thread(Thread-15 (execute_thread), started 138429119579712)>, <Thread(Thread-16 (execute_thread), started 138429111187008)>, <Thread(Thread-17 (execute_thread), started 138429102794304)>]
Thread 8 sleeps at 06:07:20
Active Threads : 14
Thread Objects : [<_MainThread(MainThread, started 138430198505472)>, <Thread(Thread-2 (_thread_main), started daemon 138430034302528)>, <Heartbeat(Thread-3, started daemon 138430025909824)>, <ParentPollerUnix(Thread-1, started daemon 138429777851968)>, <Thread(_colab_inspector_thread, started daemon 138429505447488)>, <Thread(Thread-10 (execute_thread), started 138429513840192)>, <Thread(Thread-11 (execute_thread), started 138429763614272)>, <Thread(Thread-12 (execute_thread), started 138429144757824)>, <Thread(Thread-13 (execute_thread), started 138429136365120)>, <Thread(Thread-14 (execute_thread), started 138429127972416)>, <Thread(Thread-15 (execute_thread), started 138429119579712)>, <Thread(Thread-16 (execute_thread), started 138429111187008)>, <Thread(Thread-17 (execute_thread), started 138429102794304)>, <Thread(Thread-18 (execute_thread), started 138429094401600)>]
Thread 9 sleeps at 06:07:20
Active Threads : 15
Thread Objects : [<_MainThread(MainThread, started 138430198505472)>, <Thread(Thread-2 (_thread_main), started daemon 138430034302528)>, <Heartbeat(Thread-3, started daemon 138430025909824)>, <ParentPollerUnix(Thread-1, started daemon 138429777851968)>, <Thread(_colab_inspector_thread, started daemon 138429505447488)>, <Thread(Thread-10 (execute_thread), started 138429513840192)>, <Thread(Thread-11 (execute_thread), started 138429763614272)>, <Thread(Thread-12 (execute_thread), started 138429144757824)>, <Thread(Thread-13 (execute_thread), started 138429136365120)>, <Thread(Thread-14 (execute_thread), started 138429127972416)>, <Thread(Thread-15 (execute_thread), started 138429119579712)>, <Thread(Thread-16 (execute_thread), started 138429111187008)>, <Thread(Thread-17 (execute_thread), started 138429102794304)>, <Thread(Thread-18 (execute_thread), started 138429094401600)>, <Thread(Thread-19 (execute_thread), started 138428809213504)>]

<ipython-input-12-016e8eaccbe0>:11: DeprecationWarning: activeCount() is deprecated, use active_count() instead
  print("Active Threads :", threading.activeCount())

In [13]:
import re
if re.search("ape", "The ape was at the apex"):
    print("There is an ape")

# findall returns a list of matching strings
allApes = re.findall("ape.", "The ape was at the apex")

for i in allApes:
    print(i)
theStr = "The ape was at the apex"

for i in re.finditer("ape.", theStr):
    locTuple = i.span()

    print(locTuple)

    # Slice the match out using the tuple values
    print(theStr[locTuple[0]:locTuple[1]])

There is an ape
ape
apex
(4, 8)
ape
(19, 23)
apex

# RECURSIVE FUNCTIONS
# A function that refers to itself is a recursive function

# Calculating factorials is commonly done with a recursive
# function 3! = 3 * 2 * 1

In [16]:

def factorial(num):
    # Every recursive function must contain a condition
    # when it ceases to call itself
    if num <= 1:
        return 1
    else:

        result = num * factorial(num - 1)
        return result

print(factorial(4))

24